name: dollzmania
description: Dollz are digital 'paper dolls' created by dragging and dropping hair, clothes and accessories onto a doll base.

publish_to: "none"

version: 0.0.1

environment:
  sdk: ">=2.15.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  # App Modules
  home_module:
    path: features/home_module
  splash_module:
    path: features/splash_module
  sucrilhos_design_system:
    path: sucrilhos_design_system
dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/json/
